* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(image/fon-hw4.png);
    background-size: cover;
    height: 100vh;
    font-family: sans-serif;
}


.main {
     
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.header-logo {
    color:  #ffffff;
    font-size: 20px;
    font-family: serif;
    font-weight: 700;
    margin-left: 81px;
}

.logo-text {
    float: left;    
    line-height: 54px;
}

.header-logo:hover .logo-text {
    color: #3cb878;
}
.top-menu {
    background-color:  rgba(0, 0, 0, 0.41);
    width: 1366px;
    height: 54px;
    display: inline-block;
}

.bg-ic_caledar1 {
    display: inline-block;
    margin-right: 15px;
    width: 19px; 
    height: 19px;
    background: url('image/css_sprites(1).png') -106px -10px;
}


.bg-ic_journey33:hover {
    background: url('image/css_sprites(1).png') -10px -50px;
}


.bg-ic_journey3 {
    display: inline-block;
    margin-right: 15px;
    width: 20px; 
    height: 20px;
    background: url('image/css_sprites(1).png') -50px -50px;
}


.bg-ic_caledar11:hover {
    background: url('image/css_sprites(1).png') -106px -49px;
}


.bg-ic_forum2 {
    display: inline-block;
    margin-right: 15px;
    width: 28px; 
    height: 20px;
    background: url('image/css_sprites(1).png') -10px -10px;
}


.bg-ic_forum22:hover {
    background: url('image/css_sprites(1).png') -58px -10px;
}


.right-top-menu {
    float: right;
    color: #ffffff;
    
}    

.right-menu-link {
    padding-right: 20px;
}

.social-network-Facebook {
    background-color:  #264b96;
    width: 157px;
    height: 46px;
    color:  #ffffff;
    border-left: 2px solid #c8422d;
    padding-top: 5px;
    position: relative;
    bottom: 5px;
    left: 10px;
}

.social-network-Google {
    border-left: 2px solid #c8422d;
    padding-top: 5px;
    color:  #ffffff;
    position: relative;
    bottom: 5px;
    left: 10px;
    width: 157px;
    height: 46px;
    background-color:  #c3412c;
}

.social-networks {
    color:  #ffffff;
    font-size: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
    display: inline-block;
    height: 30px;
    width: 100px;
}

.box {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    width: 444px;
    height: 584px;
}


.frame {
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    background-color: #fff;
    width: 444px;
    text-align: center;
    height: 584px;
    margin: 0 auto;
    border-radius: 10px;
    margin-top: 119px;
}



.login-active {
    float: right;
    text-decoration: none;
    color:  #3cb878;
    font-size: 14px;
}

.login-active:hover {
    text-decoration: underline;
}

.signup-inactive {
    text-decoration: none;
    color: #434343;
    float: left;
    font-size: 20px;
}

.small-square {
    display: inline-block;
    width: 18px;
    
    float: left;
    height: 18px;
    background-color: #3cb878;
}



.register-icon {
    color:  #3cb878;
    font-size: 14px;
    text-decoration: none;
}
.register-icon:hover {
    text-decoration: underline;
}

.top-menu-register {
    color: #ffffff;
    margin-right: 75px;
}

.social-network-Google {
    
}

.low-text {
    color: #3cb878;
}

.low-text:hover {
    text-decoration: underline;
}

.field {
    width: 322px;
    height: 46px;
    background-color: rgb(190, 190, 190);
}

.form-input {
   
    
}

.text-icon {
    background-color: rgb(255, 255, 255);
    width: 322px;
    height: 46px;
    margin-bottom: 15px;
}

button {
    width: 322px;
    color: #ffffff;
    height: 46px;
    background-color: rgb(60, 184, 120);
}



.head-of-the-menu {
    
}
